@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');


:root {
    --header-height: 3rem;
    --color-one: #d8a117;
    --color-white: #ffffff;
    --color-black: #2c2b2b;
    --text-color: #777;
    --header-font: "Anton", sans-serif;
    --body-font: "Outfit", serif;
    --design-font: "Dancing Script", serif;
    --small-font-size: 15px;
    --z-fixed: 100;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--body-font);
}

html {
    scroll-behavior: smooth;
}

body {
    background: var(--color-white);
}

ul {
    list-style: none;
}

p {
    font-weight: 300;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}



/*=============== REUSABLE CSS CLASSES ===============*/
.container {
    max-width: 1224px;
    margin-inline: 1.5rem;
}

.main {
    overflow: hidden;
    /* For the animations */
}



.login {
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

.login-grid {
    display: flex;
}

.login-background {
    width: 100%;
    height: 100vh;
    background: linear-gradient(45deg, rgba(0, 0, 0, 0.4) 30%, rgb(0, 0, 0, .4) 70%), url(../img/form-img.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    flex: 2;
    transform: rotateY(180deg);
}

.login-form {
    flex: 1;
    padding: 7rem 0 2rem;
}

.form-logo {
    /* text-align: center; */
    /* padding-bottom: 30px; */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.form-logo img {
    width: 100px;
}

.input-div {
    border-bottom: 1px solid #666;
    padding: 20px 0;
    position: relative;
    margin-top: 30px;
    margin-bottom: 30px;
    height: 100%;
}

.input-div input {
    border: none;
    outline: none;
    width: 100%;
    height: 100%;
    /* background: #000000; */
    /* color: var(--first-color-light); */
}

.input-div input::placeholder {
    font-family: var(--body-font);
    font-size: 15px;
    font-weight: 300;
}

.forgot {
    text-align: center;
    margin-bottom: 30px;
}

.forgot a {
    color: var(--color-one);
    text-decoration: underline;
}

.sign-in {
    background: var(--color-one);
    color: var(--color-white);
    font-family: var(--body-font);
    width: 100%;
    border: none;
    outline: none;
    padding: 12px 0;
    margin-bottom: 30px;
    border-radius: 5px;
}

.sign-up {
    text-align: center;
}

.sign-up a {
    color: var(--color-one);
    text-decoration: underline;
    margin-left: 5px;
}





@media screen and (max-width: 768px) {
    .login {
        overflow: scroll;
    }

    .login-grid {
        display: flex;
        flex-direction: column;
    }
}